<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" /> -->
<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="mt-4" th:text="${question.subject}"></h2>
    <div
      class="text-muted small border-bottom pb-3"
      th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"
      style="font-size: 0.8rem; color: #868e96"
    ></div>
    <div class="my-3 py-4">
      <div class="card-body">
        <div
          class="card-text"
          style="white-space: pre-line"
          th:text="${question.content}"
        ></div>
      </div>
    </div>

    <!-- 답변 개수 표시 -->
    <h5
      class="my-3 py-2"
      th:text="|${#lists.size(question.answerList)}개의 답변|"
    ></h5>

    <!-- 답변 작성 폼 -->
    <form
      th:action="@{|/answer/create/${question.id}|}"
      method="post"
      class="my-3"
    >
      <div class="mb-3">
        <textarea
          name="content"
          id="content"
          class="form-control"
          rows="5"
        ></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <input type="submit" value="답변 등록" class="btn btn-primary" />
      </div>
    </form>

    <!-- 답변 목록 -->
    <div>
      <ul class="list-unstyled">
        <li
          th:each="answer : ${question.answerList}"
          class="my-3 border-bottom"
        >
          <div class="d-flex justify-content-between py-2">
            <div>
              <div th:text="${answer.content}"></div>
              <div
                class="text-muted small"
                style="font-size: 0.8rem; color: #868e96"
                th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"
              ></div>
            </div>
            <div>
              <a
                class="btn btn-sm btn-outline-danger"
                th:href="@{|/answer/delete/${answer.id}|}"
                >삭제</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</html>
